<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
{#    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">#}

    <script src="/static/bootstrap/js/jquery-3.2.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
{#    <script src="/static/bootstrap/js/holder.min.js"></script>#}

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table", align="center", style="width: 50%">
        <tr>
            <td>姓名</td>
            <td>性别</td>
        </tr>

        <tr>
            <td>张迅晖</td>
            <td>男</td>
        </tr>
    </table>
</body>
</html>